.DS_Store
*~
*.tgz
BuzatuATLAS
BuzatuPython
BuzatuBash
BuzatuCPP
BuzatuROOT
BuzatuTree
BuzatuVH
BuzatuReadCxAOD
BuzatuRivetHbbBJets
BuzatuRivetHbbBFatJet
BuzatuNoteATLASTemplate
BuzatuNoteWH
BuzatuNoteWHAppendix
BuzatuNoteBJetEnergyCorrectionsRunII
BuzatuCV
BuzatuResearch
BuzatuTeaching
BuzatuTTbarDilepton